<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1 style="text-align: center; margin-top: 50px">
      Data of Students <%= count %>
    </h1>
    <br />
    <br />
    <table>
      <tr>
        <th>Student id</th>
        <th>Students ussername</th>
        <th>Students email</th>
      </tr>
      <% arr.forEach((elem)=>{ %>

      <tr>
        <td><%= elem.id %></td>
        <td><%= elem.username %></td>
        <td><%= elem.email %></td>
        <td>
          <a href="/post/edit/<%= elem.id %>" class="edit">Edit</a>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
